* {
  padding: 0;
  margin: 0;
}

body, html, div {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #777;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111111;
  text-align:center;
}

.text {
  color: #777777;
  background-color: #ffffff;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

body{
  height: 3000px;
}
.navbar-brand{
  letter-spacing: 1vw;
}

.image-big{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 56.6vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#image-big-1{
  background-image: url(img/teli-6.jpg);
}

#image-big-2{
  height: 200%;
  background-image: url(img/teli-5.jpg);
}

.over-text{
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  color: white;
}
.over-text-2{
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-shadow: 2px 2px 5px #00000077;
  width: 100%;
  text-align: center;
}

.image-row{
  
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}


@media all and (min-width: 576px){
  .over-text{
    font-size: 30px;
    letter-spacing: 10px;
  }

  .over-text-2{
    font-size: 25px;
    letter-spacing: 5px;
  }

  .image-row{
    margin-top: 100px;
  }
}

@media all and (min-width: 768px){
  .over-text{
    font-size: 40px;
  }
}

@media all and (min-width: 992px){
  .image-row{
    width: 80vw;
    height: 500px;
    margin: 100px auto;
  }
  .over-text{
    letter-spacing: 20px;
  }
  .over-text-2{
    letter-spacing: 10px;
  }
}