:root{
  --main-color: #8C8C8C;
  --main-title-color: #444446;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body, html, div {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: var(--main-color);
}

.body-wrapper{
  overflow-x: hidden;
}

body{
  background-color: #F2F2F2;
}

.text {
  color: var(--main-color);
  background-color: #ffffff;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.navbar-brand{
  letter-spacing: 1vw;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggler{
  transform: translateX(-50%);
  left: 100%;
  position: relative;
}

.image-big{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 56.6vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#image-big-1{
  background-image: url(img/esti-medence.jpg);
}

#image-big-2{
  height: 200%;
  background-image: url(img/teli-5.jpg);
}

.over-text{
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #fffffff2;
  text-shadow: 2px 2px 10px #000000;
}
.over-text-2{
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-shadow: 2px 2px 5px #00000077;
  width: 100%;
  text-align: center;
}

.image-row{
  
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}

.container-2{
  padding: 0 3vw;
  margin-top: 100px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.row-2{
  margin-top: 40px;
}

.row-2 .col-md{
  margin-bottom: 20px;
}

.title-main{
  font-size: 40px;
  letter-spacing: 1vw;
  color: var(--main-title-color);
  
}

.title-2{
  font-size: 30px;
  color: var(--main-title-color);
  cursor: pointer;
}

.title-2:hover {
  /* color: #2685c2; */
  /*text-shadow: 3px 2px 15px #0e38a2;*/
}

.title-2-big{
  display: none;
}

#toshow{
  display: none;
}

.service-list{
  padding: 0 10%;
  width: 100%;
}
.service-item{
  margin: 0 5px;
}
.service-icon{
  width: 100px;
  height: 100px;
}

.service-text{
  text-align: center;
}

.send-button{
  display: block;
}

.map-dot{
  height: 3vw;
  width: 3vw;
  background-color: #F3B861;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.map-dot:hover{
  background-color: #ffa725;
}

.map-container{
  position: relative;
}

.map-content{
  width: 80%;
  margin: auto;
}

.map-content > div{
  display: none;
}




@media all and (min-width: 576px){
  .over-text{
    font-size: 30px;
    letter-spacing: 10px;
  }

  .over-text-2{
    font-size: 25px;
    letter-spacing: 5px;
  }

  .image-row{
    margin-top: 100px;
  }

 
  
}

@media all and (min-width: 768px){

  html{
    font-size: 14px;
  }

  .over-text{
    font-size: 50px;
    font-weight: 100;
  }
  .title-2{
    margin-top: 0;
    font-size: 40px;
  }

  .title-main{
    font-size: 50px;
  }

  .title-2-big{
    display: block;
  }
  .title-2-small{
    display: none;
  }

  .row-2 .col-md{
    margin-bottom: unset;
  }

  .embed-responsive{
    width: 80%;
    margin: auto;
  }

 
}

/*992 and up*/
@media all and (min-width: 992px){
  .image-row{
    width: 80vw;
    height: 500px;
    margin: 100px auto;
  }
  .over-text{
    letter-spacing: 27px;
  }
  .over-text-2{
    letter-spacing: 10px;
  }

  .service-icon{
    width: 120px;
    height: 120px;
  }

  
}